
footer {
    background-color: whitesmoke;
    padding: 10px 0px;
    border-top: #235F86 solid 5px;
    margin-top: 10px;
}

footer p {
  margin-bottom: 0px;
  color: #36454F ;
}

h1{
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
    color: white;
    padding-top: 20px;
    font-size: 1.25rem;
}

table {
  width: 100%;
}

td{
  color: white;
  font-size: 1.25rem;
}

nav{
  border-bottom: #235F86 solid 10px;
  margin-bottom: 10px;
}


.buttonFilled {
    background-color: lightslategray;
    color: white;
}

.modalButton {
  background-color: #235F86;
    color: white;
}

.buttonOutline {
  border-color: lightslategray;
  color: lightslategray;
}

.announcement {
  text-align: center;
  border-radius: 4px;
  border: #235F86 double 5px;
  background-color: rgb(242, 242, 242);
  color:  #9b5780;
  font-size: 1.5rem;
  margin-bottom: 20px;
  padding:20px;
  font-weight: bold;
}

a {
    color: inherit;
}

a:visited {
    color: inherit;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.welcomeBanner{
    background-color: #9b5780;
    color: white;
    padding: 20px 0px;
    text-align: center;
    font-size: 2rem;

}

.profile {
  text-align: center;
}

.copyright {
  font-size: 0.75rem;
  text-align: center;
}


#profilePicture{
  border-radius: 50%;
  width: 25%;
}

.birthdayAndAnniversary {
    background-color: lightslategray;
    width: 50%;
}


#LoginButtonModalOpen{
    margin-left: 10px;
}